# .gitignore for dotfiles
#########################

# Ignore all files except directories
#------------------------------------
*
!*/

# Only include the following
#---------------------------

# git
!/.gitconfig
!/.gitignore
!/.gitignore_global

# Xorg
!/.xprofile
!/.Xmodmap
!/.Xresources

# dircolors
!/.dir_colors

# fish
!/.config/fish/config.fish
!/.config/fish/colors.fish
!/.config/fish/functions/fish_prompt.fish

# nvim
!/.config/nvim/init.vim

# chruby
!/.ruby-version
