fish/.config/fish/functions/fisher.fish
fish/.config/fish/functions/humanize_duration.fish
fish/.config/fish/fish_variables
fish/.config/fish/completions/fisher.fish
fish/.config/fish/conf.d/done.fish
